{% extends "layouts2/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/assets2/images/pemandangan2.jpeg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs">
              <span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span>
              <span>About<i class="ion-ios-arrow-forward"></i></span>
            </p>
            <h1 class="mb-3 bread">Blog</h1>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <!-- Blog Content -->
          <div class="col-md-8 ftco-animate">
            <h2 class="mb-3">{{ blog.title }}</h2>
            {% if blog.image %}
            <p>
              <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid">
            </p>
            {% endif %}
            <p>{{ blog.content|linebreaks }}</p>
          </div>

          <!-- Sidebar -->
          <div class="col-md-4 sidebar ftco-animate">
            <!-- Search Form -->
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>

            <!-- Categories -->
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Categories</h3>
                {% for category in categories %}
                <li><a href="#">{{ category.name }} <span>({{ category.blogs.count }})</span></a></li>
                {% endfor %}
              </div>
            </div>

            <!-- Recent Blogs -->
            <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              {% for recent in recent_blogs %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% if recent.image %}{{ recent.image.url}}{% else %}/static/images/default-blog.jpg{% endif %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'detail_blog' recent.id %}">{{ recent.title }}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span>{{ recent.upload_date|date:"M. d, Y" }}</a></div>
                    <div><a href="#"><span class="icon-person"></span>{{ recent.author.username }}</a></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>



{% endblock %}