<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">james<span>Camp</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'price' %}active{% endif %}">
            <a href="{% url 'price' %}" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'member_transaction_categories' %}active{% endif %}">
            <a href="{% url 'member_transaction_categories' %}" class="nav-link">Transaksi</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
            <a href="{% url 'about' %}" class="nav-link">About</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'list_blog' %}active{% endif %}">
            <a href="{% url 'list_blog' %}" class="nav-link">Blog</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown {% if request.resolver_match.url_name == 'member_transaction_list' %}active{% endif %}">
            <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" 
                       href="{% url 'profile' %}">
                        My Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'member_transaction_list' %}active{% endif %}" 
                       href="{% url 'member_transaction_list' %}">
                        My Transactions
                    </a>
                </li>
                <li>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" class="dropdown-item has-icon text-danger"
                       onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </li>
        {% else %}
        <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
            <a href="{% url 'login' %}" class="nav-link">Login</a>
        </li>
        {% endif %}
    </ul>

    </div>
</div>